.background {
    background-image: url(assets/sean-stratton-KzYeP16sQ6Q-unsplash.jpg);
    height: 45.5em;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

body {
    font-family: 'Open Sans', san-serif;
}

.body-container {
    height: 100vh;
}

.nav-wrapper {
display:flex; 
justify-content: space-between;
align-items: center;
padding: 2em;
}

.nav-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight:200;
    display: flex;
    justify-content:flex-start;
}

.nav-logo a {
    transition: 0.5s;
}

.nav-logo a:hover {
    color: #AD5858;
}

.nav-first-name {
    color: #578671;
    text-decoration: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

.nav-last-name {
    font-weight: bold;
}

.link-wrapper {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    text-transform: uppercase;
}

.link-wrapper a {
    transition: 0.5s;  
}

.link-wrapper a:hover {
    /* color: #FC9987; */
    /* color: #964C02; */
    color: #AD5858;
}

.flex-item {
    text-decoration: none;
    color: #578671;
    padding-right: 3em;
    padding-left: 2em;
    padding-bottom: 15px;
}

.flex-main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    padding-top: 2em;
}

.profile-image {
    height: 400px;
    border-radius: 50%;
    border: 10px solid #578671;
    /* eee0c9 This is an off white that matches*/
}

.main-text {
    width: 50%;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3em;
}

.learn-more a {
    transition: 0.3s;
    color: #eee0c9;
    text-decoration: none;
}

.learn-more a:hover {
    color: #AD5858;
}

.construction {
color: #F4AF33;
font-family: 'Open Sans', sans-serif;
display: block;
text-align: center;
margin: 3px;
}

.construction-pic {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 40%;
}

h4 {
    text-align: center;
    color: #F4AF33;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 10px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8em;
    
}

.icon-flex {
    display: flex;
    direction: row;
    justify-content: space-around;
    width: 20%;
}

i {
    color: #eee0c9;
    transition: 0.3s;
}

i:hover {
    color: #AD5858;
}

.copyright {
    font-size: 12px;
}

.link-text {
    display: block;
    background-color: #AD5858;
    border-radius: 50%;
    border: 1px;
    padding: 10px;
}

.icon-circle {
    color: #578671;
    border-radius: 50%;
    border: 1px;
    background-color: white;
    padding: 30px;

}